<!DOCTYPE html>
<html>
  <head>
    <title>Population per Capita</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    {% include "styles.html" %}
    <div class="realBody">
        <h3>Form</h3>

          <form method="post" action="/popCapita">
            <p>Enter in a max per_capita value you want to view  
              {% if pop_per_capita %}
              <input name="pop_per_capita" value="{{pop_per_capita}}"/>
              {% else %}
              <input name="pop_per_capita" value=""/>
              {% endif %}
              <input type="submit"/>
            </p>
        </form> 
        
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
             <p style="color:#FF0000"> {{ message }} </p>
            {% endfor %}
          {% endif %}
        {% endwith %}

  
      <h3>Chart</h3>
      <!--Div that will hold the dashboard-->
      <div id="dashboard_div">
        <!--Divs that will hold each control and chart-->
        <div id="filter_div"></div>
        <div id="chart_div"></div>
      </div>
    </div>
      
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {% if pop %}
    <script type="text/javascript">
    // Load the Visualization API and the controls package.
    google.charts.load('current', {'packages':['corechart', 'controls']});
    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawDashboard);
    // Callback that creates and populates a data table,
    // instantiates a dashboard, a range slider and a pie chart,
    // passes in the data and draws it.
    function drawDashboard() {
      // Create our data table.
      var data = google.visualization.arrayToDataTable([
          ["Lat", "Long", "County", "Post Offices Per 100000"],
          {% for row in pop %}
              [{{ row[0] }}, {{ row[1] }}, "{{row[2]}}", {{row[3]}}],
          {% endfor %}
              
      ]);
      
      console.log("Generated table!");
      // Create a dashboard.
      var dashboard = new google.visualization.Dashboard(
          document.getElementById('dashboard_div'));
      // Create a range slider, passing some options
      var donutRangeSlider = new google.visualization.ControlWrapper({
        'controlType': 'NumberRangeFilter',
        'containerId': 'filter_div',
        'options': {
          'filterColumnLabel': 'Post Offices Per 100000',
          
        }
      });
      // Create a pie chart, passing some options
      var pieChart = new google.visualization.ChartWrapper({
        'chartType': 'GeoChart',
        'containerId': 'chart_div',
        'options': {
            'width': 500,
            'height': 500,
            'legend': 'none',
            'region':'US-VA',
            'resolution':'provinces',
            'displayMode':'markers',
            'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 0},
            }
      });
      
      // Establish dependencies, declaring that 'filter' drives 'pieChart',
      // so that the pie chart will only display entries that are let through
      // given the chosen slider range.
      dashboard.bind(donutRangeSlider, pieChart);
      // Draw the dashboard.
      dashboard.draw(data);
    }
    </script>
    {% endif %}
    <script>
      
      function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }     
    </script>
  </body>
</html>
